<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Resources Management System</title>
    <link rel="stylesheet" type="text/css" href="/styles/home-page.css">
    <link rel="stylesheet" type="text/css" href="/styles/fragments.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 ml-3 img px-0 d-none d-sm-block position-relative">
            <img src="/img/pexels-photo-3182773.jpeg"
                 alt="Login image" class="w-100 h-100 position-absolute top-0 start-0">
        </div>

        <div class="col-sm-4 text-black">
            <div class="px-5 ms-xl-4 mt-2 text-center text-lg-start">
                <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                <h1 class="h1 fw-bold mb-3">Welcome to this application</h1>
                <p class="lead text-muted">This application allows users to register in order to use it.
                    It provides functionality for creating, updating or deleting employees, employers, and projects.
                    You can associate an employee with an employer, assign a project to an employee, and vice versa.</p>
                <p class="lead text-info">Not only can you establish relationships between entities,
                    but you can also manage them according to your needs, such as releasing an employee from a project or
                    an employer. All these operations are available in a clear way.</p>
            </div>
            <div class="container">
                <p>Below are the relationships between entities</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Entity</th>
                        <th scope="col">Relations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Employer</td>
                        <td>Has many Employees, Has many Projects</td>
                    </tr>
                    <tr>
                        <td>Employee</td>
                        <td>Belongs to one Employer and can exist without Employer, Can be associated with many Projects</td>
                    </tr>
                    <tr>
                        <td>Project</td>
                        <td>Belongs to one Employer and cannot exist without Employer, Can have many Employees</td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-danger mt-4" role="alert">
                    <strong>Note:</strong> An Employee and a Project must belong to the same Employer in order to
                    be associated in the application.
                </div>
            </div>

        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>