<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/styles/employees-table.css">
	<link rel="stylesheet" type="text/css" href="/styles/fragments.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	<title>All Employees </title>
</head>
<body>

<div th:replace="fragments :: navbar"></div>

<div class="container-fluid main">
	<div class="container text-center">
		<h3>Employees</h3>
		<hr>

		<p class="alert alert-danger mt-4 w-50 mx-auto" th:if="${errorMessage}">
			<strong>Error:</strong> <span th:text="${errorMessage}"></span>
		</p>

		<div th:if="${addedDTO}" class="alert alert-success w-50 mx-auto">
			<p  th:text="${'Employee  ' + addedDTO.firstname + ' ' + addedDTO.lastname + '  inserted' }"></p>
		</div>

		<div th:if="${updatedDTO}" class="alert alert-success w-50 mx-auto">
			<p  th:text="${updatedDTO.firstname + ' ' + updatedDTO.lastname + '  updated' }"></p>
		</div>

		<div th:if="${deletedDTO}" class="alert alert-success w-50 mx-auto">
			<p  th:text="${deletedDTO.firstname + ' ' + deletedDTO.lastname + '  deleted' }"></p>
		</div>


		<div th:if="${employeeAddedEmployer}" class="alert alert-success w-50 mx-auto">
			<p  th:text="${employeeAddedEmployer +' was hired by employer: '
			+ employeeAddedEmployer.employer.name  + ' successfully' }"></p>
		</div>


		<div class="mx-auto mb-3">
			<a th:href="@{/employees/showFormForAdd}"
			   class="btn w-50 btn-primary ">
				Create new Employee
			</a>
		</div>
	</div>

	<div th:if="${employees.size()==0}" class="mx-auto mb-3">
		<p class="text-center text-info">No employees found</p>
	</div>

	<table class="table table-sm  table-hover  table-striped table-bordered ">
		<thead class="thead-dark">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Job Title</th>
			<th>Salary</th>
			<th>Action</th>
			<th>Employer</th>
			<th>Ongoing Projects</th>
		</tr>
		</thead>

		<tbody>
		<tr th:each="employee : ${employees}">

			<td th:text="${employee.firstname}" class="col-sm-1">
			<td th:text="${employee.lastname}" class="col-sm-1">
			<td th:text="${employee.jobTitle}" class="col-sm-1">
			<td th:text="${employee.salary}" class="col-sm-1">
			<td>

			<form  th:action="@{/employees/showFormForUpdate}">
				<input type="hidden" name="employeeId" th:value="${employee.id}" />
				<button type="submit" class="btn btn-info col">Update</button>
			</form>

			<form th:action="@{/employees/delete}" method="post">
				<input type="hidden" name="employeeId" th:value="${employee.id}"/>
				<button type="submit" class="btn btn-danger btn-sm mt-3 col"
						onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
					Delete</button>
			</form>

		</td>
			<td class="col-sm-4">
				<div class="d-flex flex-column mx-auto justify-content-center">
					<div class="w-50 mb-3">
						<span th:text="'Current employer: ' + ${employee.employer != null ? employee.employer.name : 'None'}"></span>
					</div>

					<div th:if="${employers.size()==0}" class="text-center mx-auto">
						<p>There are no existing employers to add to employee, please create one employer first and return!
							<a class="btn btn-primary btn-sm" th:href="@{/employers/addEmployer}">
								Click Here to create an employer
							</a> <br>
							or click the <i> Add directly new employer to employee </i> button below
								to assign him to a new employer directly!
						</p>
					</div>

					<div th:if="${employers.size()!=0}">
						<form  th:action="@{/employees/addExistingEmployer}" method="post" th:if="${employee.employer==null}">
							<input type="hidden" name="employeeId" th:value="${employee.id}" />
							<div class="form-group row">
								<label for="employer" class="col-sm-3 col-form-label">Employers available:</label>
								<div class="col-sm-9 w-50 mx-auto">
									<select class="form-control" id="employer" name="employerId" required>
										<option value="" selected>Choose an existing employer</option>
										<option th:each="employer : ${employers}" th:value="${employer.id}" th:text="${employer.name}"/>
									</select>
									<button type="submit" class="btn btn-info btn-sm mt-2">Add existing employer</button>
								</div>
							</div>
						</form>
					</div>
					<div class="mx-auto mt-2">
						<form th:action="@{/employees/showFormForEmployer}"  th:if="${employee.employer==null}">
							<hr>
							<small class="form-text  text-muted">
								If you don't see the employer you're looking for,
								you can create a new one.
							</small>
							<input type="hidden" name="employeeId" th:value="${employee.id}" />
							<br>
							<div class="d-flex justify-content-center">
								<button type="submit" class="btn btn-info btn-sm">Add directly new employer to employee</button>
							</div>
						</form>
					</div>

				</div>
			</td>
			<td  class="w-25">
				<ul th:if="${employee?.projects != null}" th:each="project : ${employee?.projects}" >
					<li ><i th:text="${project.name}"></i></li>
				</ul>
				<ul th:if="${employee?.employer == null}">
					<li > <i>No projects found for this employee, <br>because he is currently
						without employer.</i></li>
				</ul>
				<ul th:if="${#lists.isEmpty(employee.projects) and employee?.employer != null }">
					<li > <i>No projects found for this employee, <br> because he is currently
						not assigned one.</i></li>
				</ul>
			</td>
		</tr>
		</tbody>
	</table>
</div>

<div th:replace="fragments :: footer"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



